@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Thank you for submitting.</h1>

<a href="/">Go Home</a>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="//xdbcc.services.contactcapture/scripts/contacts-capture-post.js"></script>
}