@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>xDBCC Sample non-Sitecore Site</h1>
    <p class="lead">Sample non-Sitecore site to demonstrate contact data capture.</p>
    <p>@Html.ActionLink("Start", "Form", "Home", new { @class = "btn btn-primary btn-lg" })</p>
</div>